/.conda
/datasets
/models
/voice/data
/face/models
/face/embeddings
/face/input_images
/face/gallery_images
/face/__pycache__
/nlp/__pycache__
/nlp/models
/object_detection/content/mAP/input
/object_detection/models
.env